body {
  padding-top: 65px;
}
#contact-number:valid {
  color: green;
}
#contact-number:invalid {
  color: red;
}
.img-thumbnail {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
.img-thumbnail-lg {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
